.container__overview {
  width: 820px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  padding: 20px;
  .info__title {
    font-weight: 500;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    th, td {
      padding: 15px;
      border-bottom: 1px solid #ddd;
      text-align: left;
      color: rgb(69, 69, 69);
    }
    th {
      background-color: #C5DFEE;
    }
    tr:hover {
      background-color: #f9f9f9;
    }
  }
}