.modalWindow{
  height: 100vh;
  width: 1940px;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  //transition: 0.5s;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  &Content {
    transform: scale(0.5);
    transition: 0.4s all;
    background-color: white;
    border-radius: 0 0 10px 10px;
    &.bottom {
      position: fixed;
      top: 60px;
      right: 869px;
    }
    &.active {
      transform: scale(1);
    }
  }
}