.company {
    margin-top: 30px;
    height: 320px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    .headerImage {
        .headerWallpaper {
            height: 180px;
            width: 100%;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }
        .headerLogo {
            display: flex;
            align-items: center;
            margin-left: 30px;
            h2 {
                margin-left: 10px;
            }
        }
    }
    .headerOption {
        width: 200px;
        display: flex;
        margin-top: 30px;
        margin-left: 30px;
        justify-content: space-between;
        .options {
            display: flex;
            align-items: center;
        }
        .grey-out {
            opacity: 0.7;
        }
        .options:hover p, .grey-out:hover{
            color: #285975;
            cursor: pointer;
        }
    }
}




