.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 10px 20px;

    .info__title {
        font-weight: 500;
    }

    .info__text {
        margin-top: 10px;
        font-size: 14px;
        color: rgb(52, 52, 52);
    }

    .info__salary {
        margin: 20px auto;
        background-color: #D3E1E9;
        border-radius: 6px;
        padding: 10px 20px;
        cursor: pointer;

        .info__salary__special {
            color: #32454f;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .level__price {
            display: flex;

            p {
                background-color: #4e83a1;
                padding: 3px 7px;
                border-radius: 5px;
                color: #FFFFFF;
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
    }
}
